<div class="flex flex-col">
  <%= form_with(model: [@todo_list, todo_item], class: "contents") do |form| %>
    <% if todo_item.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg my-3">
        <h2><%= pluralize(todo_item.errors.count, "error") %> prohibited this todo_item from being saved:</h2>

        <ul>
          <% todo_item.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="flex gap-4">
      <%= form.text_field :description, class: "block shadow rounded border border-gray-400 outline-none" %>
      <%= form.submit 'Save', class: "#{LinkComponent::BUTTON_CLASS} text-blue-500/75 hover:text-blue-700" %>
    </div>
  <% end %>
</div>
