<li id="<%= dom_id todo_item %>">
  <span class="inline-block">
    <%= form_with(model: [todo_item.todo_list, todo_item], data: { controller: 'form' }) do |f| %>
      <%= f.check_box :done, class: 'focus:ring-0', data: { action: 'form#submit' } %>
    <% end %>
  </span>
  <span class="<%= 'font-bold' if todo_item.done? %>">
    <%= todo_item.description %>
  </span>
</li>
