<div class="flex flex-col">
  <% if todo_list.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg my-3">
      <h2><%= pluralize(todo_list.errors.count, "error") %> prohibited this todo_list from being saved:</h2>

      <ul>
        <% todo_list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_with(model: todo_list, class: "w-full") do |form| %>
    <div class="w-full flex gap-4 items-center">
      <div class="inline-block">
        <%= form.text_field :name, class: "block shadow rounded-md border border-gray-400 outline-none" %>
      </div>

      <%= form.submit 'Save', class: "#{LinkComponent::BUTTON_CLASS} text-blue-500/75 hover:text-blue-700" %>
      <%= link 'Cancel', todo_list, type: :secondary %>
    </div>
  <% end %>
</div>
