<div class="md:w-2/3 w-full flex">
  <div class="">
    <% if notice.present? %>
      <%= render AlertComponent.new(description: notice) %>
    <% end %>
    <h1 class="text-[2rem]"><%= @todo_list.name %></h1>

    <%= link 'Edit', edit_todo_list_path(@todo_list) %>
    <%= link 'Back to list', todo_lists_path, type: :secondary %>
    <%= link_delete 'Destroy', @todo_list %>
  </div>
</div>
