<div class="w-full flex">
  <div class="w-full">
    <% if notice.present? %>
      <%= render AlertComponent.new(description: notice) %>
    <% end %>
    <div id="<%= dom_id(@todo_list) %>" class="mb-4 flex justify-between w-full">
      <span class="inline-block text-[2rem]"><%= @todo_list.name %></span>
      <span class="inline-block">
        <%= link 'Edit', edit_todo_list_path(@todo_list), turbo_stream: 'true' %>
        <%= link 'Back to list', todo_lists_path, type: :secondary %>
        <%= link_delete 'Destroy', @todo_list %>
      </span>
    </div>


    <ul id="todo_items">
      <% @todo_list.todo_items.each do |todo_item| %>
        <%= render todo_item %>
      <% end %>
    </ul>
    <div id="new_todo_item">
      <%= link 'Add item', new_todo_list_todo_item_path(@todo_list), turbo_stream: true %>
    </div>
  </div>
</div>
